
.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
        form{
            width:100%;
            max-width: 300px;
            margin-bottom: 50px;
        }
        input:not(input[type="file"]){
            margin-bottom: 20px;
            &::placeholder{
                font-weight: 300;
                color: rgba(0, 0, 0, 0.7);
            }
        }
        input[type="submit"]{
            background-color: $blue;
            color: $white;
        }
        .fileUpload{
            display: flex;
            flex-direction: column;
            label{
                margin-bottom: 10px;
            }
            input[type="file"]{
                font-size: 12px;
            }
        }
}