.header{
 background-color: $yellow;
 margin-bottom: 100px;

    .header__wrapper{
        display: grid;
        grid-template-columns: .3fr 2fr 2fr;
        align-items: center;
        padding: 5px 10px;
        width: 100%;
        margin: 0 auto;
        max-width: 1200px;
        .header__column{
            i{
                color: $white;
                font-size: 35px;
                margin-right:20px;
            }
            input{
                width: 100%;
                padding: 5px 10px;
                border-radius: 3px;
                font-size: 14px;
                color: $black;
                font-weight: 600;
                margin-bottom: 0 !important;
                &::placeholder{
                    font-weight: 300;
                    color: rgba(0, 0, 0, 0.7);
                }
            }

        &:last-child {
            justify-self: end;
        }
        ul{ 
            width: 100%;
            display: flex;
            justify-self: flex-end;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            
            li:not(:last-child) {
            margin-right: 15px;
            }
        }
    }

    }
    }