
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    textarea{
        margin-bottom: 40px;
    }
    .delete{
        background-color: gray;
        align-self: flex-end;
    }
}